 @charset "utf-8";
/* 
	Resets defualt browser settings
	reset.css
*/
/* dede58.com 做最好的织梦模板 */

#container {
	width: 1014px;
	position: relative;
	z-index: 0;
}
#example {
	width: 1014px;
	height: 430px;
	position: relative;
	padding:0;
	margin:0;
	background: url(../images/contentbg.png) repeat-y;
}
#slides {
	position:absolute;
	top:0px;
	left:0;
	z-index:100;
}
#slides .slide {
	height: 430px;
	width: 1014px;
}
#slides .slide h4 {
	height:29px;
	width:98%;
	position:absolute;
	bottom:0;
	left:0;
	background:url(../images/pp.png);
	line-height:29px;
	font-family:"微软雅黑";
	color:#fff;
	font-size:14px;
	padding-left:2%
}
#slides .next, #slides .prev {
	position: absolute;
	top: 103px;
	left: -85px;
	width: 52px;
	height: 52px;
	display: block;
	z-index: 101;
}
#slides .next {
	left:1045px;
}
.slides_container {
	width: 1014px;
	height: 430px;
	overflow: hidden;
	position: relative;
}
#frame {
	position:absolute;
	z-index:0;
	width:246px;
	height:186px;
	top:-3px;
	left:-80px;
}
.pagination {
	display:none;
}
.pagination li {
	display:none;
}
.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:none;
	background-position:0 0;
	float:left;
	overflow:hidden;
}
.pagination li.current a {
	background-position:0 -12px;
}
#slides .link {
	display:block;
	margin-top:10px;
	font-weight:800;
}
